<div class="centercontainer">
  <div class="randomize-button"><a href="" href="#form-start-point"><img src="https://cdn.discordapp.com/attachments/495991546928431116/959431671176908900/Group_3.png" alt="Générer un personnage"></a></div>
</div>

<%= render 'form', character: @character %>

<%# <%= link_to 'Back', characters_path %>
