/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body {
  margin : 0px;
  color: white;
  background-color: black;
}

.pseudo-body {
  margin: 3%;
}

.pseudo-body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: auto;
  line-height: 18px; }

pre {
  background-color: black;
  padding: 10px;
  font-size: auto; }

a {
  color: red; }

a:visited {
  color: blue; }

th {
  color: white;
  padding-bottom: 5px; }

td {
  color: black;
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 2%; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.jumbotron {
  background-color: #D5F2E3;
  padding: 35px;
  border-radius: 30px;
  border: 15px solid;
  border-color: #BA2D0B;
}

.randomize-button {
  margin: 1%;
}

.randomize-button a {
  transition: 0.3s;
  display: inline-block;
  width: 80%;
  height: 80%;
  filter: brightness(100%);
}

.randomize-button a img {
  width: 80%;
  height: 80%;
  filter: brightness(100%);
}

.randomize-button a:hover {
  transition: 0.3s;
  display: inline-block;
  width: 80%;
  height: 80%;
  filter: brightness(150%);

}


.centercontainer {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.navbar {
  background-color: #CD0003;
}

.allforms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input-group {
  margin-top: 25px;
}

.input-group-text {
  background-color: #CD0003;
  color: white;
  border-style: none;
}
